/** CSS STYLE **/

@font-face {
    font-family: "Neucha", cursive;
    src: url("../fonts/Neucha-Regular.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2a2626;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Neucha", cursive;
}